:root{
    --Dark1: #131313;
    --Dark2: #292929;
    --Light1: #686868;
    --Light2: #e1e1e1;
    --Light3: #424242;
    --darkblue: #242b35;
    --highlight: #009bf9;
}
.indexHeader{
    font-family: "poppins";
    margin-top: 20px;
}
.crop-box{
    width: 250px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.crop-box img {
    position: absolute;
    top: -120px;
    left: -20px;
    width: 220px;
    height: auto;
}
.crop-box-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.logo-image{
    display: block;
    width: 210px;
    height: auto;
}
.company-name{
    padding-left: 10px;
}
.top-bar{
    position: fixed;
    top: 0;
    left: 0;    
    height: 60px;
    width: 100%;
    background-color: var(--Dark2);
    color: white;
    display: flex;
    align-items: center;
    padding: 0 0px;
    z-index: 1000;
}
.page-content{
    /* margin-left: 240px; */
    /* margin-top: 30px; */
}
.chart-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background: none;
}
.chart-box {
    flex: 1 1 300px;
    max-width: 100%;
    min-width: 35%;
    margin-top:20px;
    margin-right:10px;
    margin-left:10px;
    height: 400px;
    transition: transform 0.4s ease, z-index 0.4s;
    position: relative;
    z-index: 1;
    background-color: #ddd;
    border-radius: 12px;
    font-size: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}
.chart-box.focused{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 9999;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 12px;
    cursor: zoom-out;
}
canvas{
    width: 100% !important;
    height: 100% !important;
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100%;
}
.nav-bar-text{
    display: flex;
    align-items: center;
    font-family: "poppins";
    color: var(--Light2);
    font-size: 1.5rem;
    width: 100%;
    margin-left: 0.25rem;
    padding-top: -10px;
    text-align: left;
    text-decoration: none;
}
.nav-bar-text.active{
    width: 170px;
    background-color: var(--highlight);
    border-radius: 8px;
}
.nav-bar-text:hover{
    color: var(--Light2);
}
.vertical-nav {
  height: 100vh;
  width: 220px;
  position: relative;
  background-color: var(--darkblue);
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
  margin-right: 1%;
  align-items: start;
}
.main-Background{
    background: var(--Light2);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify: left;
}
.indexHeader{
    color: var(--Light2);
    text-align: left;
    font-size: 3rem;
    padding-top: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.nav-icon{
    padding-top: 6px;
    width: 50px;
    height: auto;
    display: block;
}
.nav-item{
    display: flex;
    align-items: center;
}

